body{
  margin-left: 100px;
  margin-right: 100px;
}
.header{
  border-bottom: 2px solid grey;
}
h2{
  color: orange;
  font-size: 50px;
}
.homeLink{
  float: left;
  font-size: 50px;
  margin-left: 500px;
  margin-right: 0px;
}
